<article class="post" id="{{id}}">
  <div class="title">
    By {{user.username}} on {{format_date created_at}}
      <div class="user-post">
      <img src="{{image}}" width="300" height="300" />
      <br>
      {{title}}
      </div>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{likes_count}} {{format_plural "Like" likes_count}}</a>
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>