<article class="post" id="{{id}}">
  <div class="title">
      <img class="profile-image" src="{{user.profileImage}}" /> {{user.username}} 
      <div class="user-post">
      <img class="post-image" src="{{image}}" width="350" height="350" />
      <br>
      {{title}}
      </div>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{likes_count}}<span class="material-symbols-outlined">favorite</span></a>
    |
    <a href="/post/{{id}}">{{comments.length}} <span class="material-symbols-outlined">comment</span></a>
    <br>
    {{format_date created_at}} 
  </div>
</article>