<article class="post">
  <div class="title">
    By {{user.username}} on {{format_date created_at}} <br>
    {{title}}
  </div>
  <div class="meta">
    {{likes_count}} {{format_plural "Like" likes_count}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>